*{
	margin: 0;
	padding: 0;
	list-style: none;
}

@keyframes show{
	from{ top: -1000px; }
	to{ top: 0px; }
}

@keyframes hide{
	from{ top: 0px; }
	to{ top: -1000px; }
}


.container{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 900px;
	width: 700px;
	margin-top: -400px;
	margin-left: -350px;
	/*background: #ccc;*/
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 6fr;
	overflow: hidden;
}

.logo{
	background: #fff;
	margin: 0 auto;
	z-index: 1000;
}
.logoImg{
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.center{
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	font-weight: 900;
	font-family: Arial;
}

#today{
	background: #3ADF00!important;
	border-radius: 50%;
	cursor: pointer;
	/*border: 3px solid #f00;*/
}

/*上一个月或者下一个月的日子*/
.not{
	color: #a4a4a4;
}

/*月历头部，显示当前年份月份*/
.container .header{
	position: relative;
	top: -1000px;
	/*animation: show 2s;*/
	background: #facc2e;
	display: grid;
	grid-auto-rows: 100px;
	grid-template-columns: 60px 60px 1fr 1fr 60px 60px;
	/*grid-template-columns: repeat(6,1fr);*/
}

.container .header .btn{
	background: #F3F781;
	cursor: pointer;
}

.container .header .btn:hover{
	background: #DF7401;
}

/*星期行，显示周一到周日的标识*/
.container .week-bar{
	position: relative;
	top: -1000px;
	/*animation: show 2s;*/
	background: #58FAF4;
	display: grid;
	grid-auto-rows: 100px;
	grid-template-columns: repeat(7,1fr);
}

.show{
	animation: show 1s;
	animation-fill-mode: forwards;
}

.hide{
	animation: hide 1s;
	animation-fill-mode: forwards;
}

/*日期表格*/
.container .day{
	position: relative;
	top: -1000px;
	/*animation: show 2s;*/
	background: #ddd;
	display: grid;
	cursor: pointer;
	/*grid-auto-rows: 50px;*/
	grid-template-columns: repeat(7,100px);
	grid-template-rows: repeat(6,100px);
}

.container .day .date1{
	background: #eee;
}

.container .day .date2{
	background: #ddd;
}

.container .day .saturday{
	background: #f40;
}

.container .day .sunday{
	background: #FE9A2E;
}



