*{
	margin: 0;
	padding: 0;
	list-style: none;
	/*background: #aaa;*/
}

body{
	background: #ccc;
}

@keyframes show{
	from{ top: -1000px; }
	to{ top: 0px; }
}

@keyframes hide{
	from{ top: 0px; }
	to{ top: -1000px; }
}



.outer{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 1328px;
	width: 1100px;
	margin-top: -664px;
	margin-left: -550px;
	overflow: hidden;
}

.container{
	position: absolute;
	margin: 0 auto;
	/*top: 50%;*/
	left: 50%;
	height: 1108px;
	width: 700px;
	/*margin-top: -404px;*/
	margin-left: -350px;
	/*background: #ccc;*/
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 8fr;
	/*overflow: hidden;*/
}

.logo{
	/*background: #fff;*/
	margin: 0 auto;
	/*height: 100px;*/
	z-index: 1000;
}
.logoImg{
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.center{
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	font-weight: 900;
	font-family: Arial;
}

#today{
	background: #3ADF00!important;
	border-radius: 50%;
	cursor: pointer;
	/*border: 3px solid #f00;*/
}

/*上一个月或者下一个月的日子*/
.not{
	color: #a4a4a4;
}

/*月历头部，显示当前年份月份*/
.container .header{
	position: relative;
	top: -1000px;
	/*animation: show 2s;*/
	background: #facc2e;
	display: grid;
	grid-auto-rows: 100px;
	grid-template-columns: 60px 60px 1fr 1fr 60px 60px;
	/*grid-template-columns: repeat(6,1fr);*/
}

.container .header .btn{
	background: #F3F781;
	cursor: pointer;
}

.container .header .btn:hover{
	background: #DF7401;
}

/*星期行，显示周一到周日的标识*/
.container .week-bar{
	position: relative;
	top: -1000px;
	/*animation: show 2s;*/
	background: #58FAF4;
	display: grid;
	grid-auto-rows: 100px;
	grid-template-columns: repeat(7,1fr);
}

.show{
	animation: show 1s;
	animation-fill-mode: forwards;
}

.hide{
	animation: hide 1s;
	animation-fill-mode: forwards;
}




/*日期表格*/
.container .day{
	position: relative;
	top: -1000px;
	/*animation: show 2s;*/
	/*background: #ddd;*/
	display: grid;
	cursor: pointer;
	/*grid-auto-rows: 50px;*/
	grid-template-columns: repeat(7,100px);
	grid-template-rows: repeat(6,100px);
}

.D{
	position: relative;
	/*display: grid;*/
	/*grid-template-rows: repeat(3,1fr);*/
	/*grid-template-columns: repeat(3,1fr);*/
}

.container .day .date1{
	background: #eee;
}

.container .day .date2{
	background: #ddd;
}

.container .day .saturday{
	background: #f40;
}

.container .day .sunday{
	background: #FE9A2E;
}

.disappear{
    display: none;	
}

.note{
	position: absolute;
	width: 500px;
	height: 330px;
	display: grid;
	grid-template-rows: 30px 1fr;
	z-index: 101;
	margin-left: -200px;
	margin-top: -30px;
}

.triangle-up{
	margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid #fff;
	opacity: 1;
}

.notePad{
	/*width: 200px;*/
	/*height: 200px;*/
	background: #fff;
	border-radius: 20px;
	opacity: 1;
	font-size: 25px;
	font-weight: 300px;
}

.noteMsg{
	width: 500px;
	height: 300px;
}

.noteP{
	height: 100px;
	/*background: #ddd;*/
	line-height: 100px;
	font-size: 40px;
	font-weight: 700;
	text-align: left;
	padding-left: 20px;
}

[dot=dot]{

}

.edit{
	display: inline-block;
	width: 50px;
	height: 50px;
	float: right;
	padding: 25px;
}

.input{
	position: relative;
	width: 370px;
	height: 80px;
	font-size: 40px;
	line-height: 80px;
	left: 10px;
	/*padding: 10px;*/
	outline: none;
	/*border-bottom: 1px solid #000;*/
	/*top: -100px;*/
	float: left;
	display: inline-block;
}

.text{
	width: 480px;
	height: 80px;
	line-height: 80px;
	font-size: 30px;
	font-weight: 700;
	outline: none;
	border: 0px solid #000;
	/*border-bottom: 1px solid #000;*/
}

.readonly{
	readonly: readonly;
}

.txt{
	height: 80px;
	line-height: 80px;
	font-size: 30px;
	font-weight: 700;
	text-align: left;
	padding-left: 20px;
}









